<!DOCTYPE html>
<html{% if webpack.htmlWebpackPlugin.files.manifest %} manifest="{{ webpack.htmlWebpackPlugin.files.manifest }}"{% endif %}>
  <head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title }}</title>
    {% if htmlWebpackPlugin.files.favicon  %}
    <link rel="shortcut icon" href="{{htmlWebpackPlugin.files.favicon}}">
    {% endif %}
    {% for css in htmlWebpackPlugin.files.css %}
    <link href="{{css}}" rel="stylesheet">
    {% endfor %}
  </head>
  <body>
    {% for index,chunk in htmlWebpackPlugin.files.chunks %}
    <script src="{{chunk.entry}}"></script>
    {% endfor %}
  </body>
</html>
